body {
    background-color: beige;
}


header {
    display: flex;
    background: linear-gradient(to right,rgb(158, 108, 15), orange);
    height: 80px; 
}
header .container {
    margin-left: auto;
}
header #b1 {
    background: linear-gradient(to right, rgb(234, 76, 76), rgb(224, 130, 146));
    height: 30px;
    margin-top: 25px; 
    margin-bottom: 10px;
}
h1, h2 {
    text-align: center;
}
#p1 {
    color: orange;
}
header button {
    
    background: transparent;
    height: 78px;
    border-color: orange;
    border: none;
    outline:none;
    cursor: pointer;
}
header button:hover { 
    
    background: rgb(158, 108, 15);
}
button {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

